<mat-drawer-container>
    <!-- <mat-drawer mode="side" [opened]="sideBarOpen" *ngIf="commonService.isHeaderVisible()">
      <app-sidenav *ngIf="authService.isNotAuthenticated()"></app-sidenav>
      <app-sidenav-owner *ngIf="authService.isOwner()"></app-sidenav-owner>
      <app-sidenav-developer *ngIf="authService.isDeveloper()"></app-sidenav-developer>
      <app-sidenav-student *ngIf="authService.isStudent()"></app-sidenav-student>
    </mat-drawer> -->

    <mat-drawer-content style="background-color: white;color: black;">
        <app-header (toggleSidebarForMe)="sideBarToggler($event)"></app-header>
      <!-- <div *ngIf="isNavigating"  id="loading-screen" class="text-center">
        <mat-spinner></mat-spinner>
      </div> -->
        <router-outlet ></router-outlet> 
        
        <div class="d-flex footer mt-1 mb-1 p-0" style=" background-color: wheat;">
          <!-- <div class="col"><h4>© Copyright 2017-2022 HitechMedicos.com All rights reserved.</h4></div>
          <div class="col"><h4 style="text-align: right"> ALL U NEED</h4></div> -->
        
          <div class="container">
            <div class="row">
              <div class="col">
                © Copyright 2017-2022 HitechMedicos.com All rights reserved.
              </div>      
              <div class="col text-right">
                ALL U NEED
              </div>
            </div>
          </div>
        </div>
    </mat-drawer-content>
    
</mat-drawer-container>
