<!-- <header class="masthead d-flex align-items-center"> -->

  <!-- <div class="container px-4 px-lg-5 text-center">
    
    <h1 class="mb-1" data-aos="fade-up"
        data-aos-duration="3000">
      <div class="m-5">
      {{projectHeading}}
      </div>
      <div class="m-5">
      {{contact}}
      </div>
    </h1>
    <h3 class="mb-5"><em>We are developing it</em></h3>
    <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
    <div data-aos="fade-up" data-aos-once="true">
      the content
    </div>


  </div> -->

  <div class="d-flex" style="max-height: 450px">
    <div class="col-7 mt-3 p-0 pl-1">

    
      <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides" [interval] = '2000'>
            <img
              alt="{{slide.title}}"
              class="d-block w-100"
              loading="lazy"
              src="{{slide.src}}"
              height="420px" 
              decoding="async"           
            />
            <c-carousel-caption class="d-none d-md-block">
              <h3>{{slide.title}}</h3>
              <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>

    </div>
    <div class="col-5 mr-2 p-1">
      <div class="mt-2">
        
        <c-carousel>
          <!-- <c-carousel-indicators></c-carousel-indicators> -->
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides" [interval] = '2000'>
              <img
                alt="{{slide.title}}"
                class="d-block w-100"
                loading="lazy"
                src="{{slide.src}}"
                height="207px"
                decoding="async" 
              />
              <c-carousel-caption class="d-none d-md-block">
                <h3>{{slide.title}}</h3>
                <p>{{slide.subtitle}}</p>
              </c-carousel-caption>
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
        </c-carousel>

      </div>
      <div class="mt-2">
        
        <c-carousel>
          <!-- <c-carousel-indicators></c-carousel-indicators> -->
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides" [interval] = '2000'>
              <img
                alt="{{slide.title}}"
                class="d-block w-100"
                loading="lazy"
                src="{{slide.src}}"
                height="207px"
                decoding="async" 
              />
              <c-carousel-caption class="d-none d-md-block">
                <h3>{{slide.title}}</h3>
                <p>{{slide.subtitle}}</p>
              </c-carousel-caption>
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
        </c-carousel>


      </div>
    </div>
  </div>

  <div class="ml-2 mr-2 text-center" style="border: 1px solid; padding: 10px;  border-radius: 10px;  box-shadow: 4px 5px #888888;">
    <h2>Order & Buy</h2>
    <div  class="d-flex ">
      
      <div class="col">
        <img loading="lazy" height="80px" decoding="async" src="../../../assets/img/img-1.png"><br>
        <label style="font-size: 20px !important;">Pharma Comapny</label>
      </div>
      <div class="col">
        <img loading="lazy" height="80px" decoding="async" src="../../../assets/img/img-1.png"><br>
        <label style="font-size: 20px !important;">Pharma Comapny</label>
      </div>
      <div class="col">
        <img loading="lazy" height="80px" decoding="async" src="../../../assets/img/img-1.png"><br>
        <label style="font-size: 20px !important;">Pharma Comapny</label>
      </div>
      <div class="col">
        <img loading="lazy" height="80px" decoding="async" src="../../../assets/img/img-1.png"><br>
        <label style="font-size: 20px !important;">Pharma Comapny</label>
      </div>
      <div class="col">
        <img loading="lazy" height="80px" decoding="async" src="../../../assets/img/img-1.png"><br>
        <label style="font-size: 20px !important;">Pharma Comapny</label>
      </div>
    </div>
  </div>


  <div class="d-flex mt-2 ml-1" >
    <div class="col-7" style="background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);border-radius: 10px;">
      <div class="d-flex">
        <h2>Free Products Offer</h2>
        <!-- <div style="text-align: right;">test</div> -->
      </div>
      
      <div >        
        <c-carousel style="border-radius: 10px;">
          <!-- <c-carousel-indicators></c-carousel-indicators> -->
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides" [interval] = '2000'>
              <img style="border-radius: 10px;"
                alt="{{slide.title}}"
                class="d-block w-100"
                loading="lazy"
                src="{{slide.src}}"
                height="207px"
                decoding="async" 
              />
              <c-carousel-caption class="d-none d-md-block">
                <h3>{{slide.title}}</h3>
                <p>{{slide.subtitle}}</p>
              </c-carousel-caption>
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
        </c-carousel>
      </div>
    </div>
    <div class="col-5">test</div>
  </div>
  
 
  



<!-- </header> -->

